# ===== Core DL =====
tensorflow

# ===== Scientific stack (versiones compatibles con TF 2.15) =====
numpy
pandas
matplotlib
scikit-learn

# ===== Utilidades =====
tqdm
h5py
protobuf

# ===== Interpretabilidad (Grad-CAM) =====
tf-keras-vis

# ===== (Opcional) Augmentations extra =====
imgaug
